.venv/
.venv-build/
dist/
build/
*.egg-info/
__pycache__/
*.py[cod]
.coverage
config.env
*.zip
conversations*.json
/.idea
/go-openai-import-to-joplin
*.test
coverage.out
/data-for-import/OpenAI-export/*
/data-for-import/*.zip
/run.md
